.faq-module {
  background-color: #F8FAFC;
  position: relative;
  height: 300px;
}

.faq {
  background-color: #F8FAFC;
  position: relative;
  padding-bottom: 20px;
}

.faq_section {
  margin: 0 auto;
  border-radius: 16px;
  position: relative;
}

.faq_section h1 {
  padding: 10px;
  padding-top: 15px;
}

.faq__questions__items__item {
  background: #FDFEFD;
  color: #6C6C6C;
  box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.08);
  border-radius: 16px;
  padding: 16px;
  font-size: 18px;
  margin-bottom: 15px;
}

.answer {
  background: rgba(15, 23, 42, 0.0784313725);
  color: #6C6C6C;
  box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.08);
  border-radius: 16px;
  padding: 16px;
  font-size: 18px;
  margin-top: 13px;
}

.answer {
  display: none;
}

.chevron {
  position: absolute;
  right: 0;
  margin-right: 30px;
  margin-top: 5px;
}

.header {
  background-color: #FDFEFD;
  height: 10vh;
  display: flex;
  align-items: center;
  margin: 0;
  position: relative;
}

.img img {
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.left {
  left: 0;
}

.right {
  width: 25px;
  top: 15px;
  right: 0;
}

.menu-main-navigation-container .menu {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 2fr;
  text-align: center;
  align-items: center;
  position: relative;
}

.menu li, a {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  color: black;
}

.menu-main-navigation-container .menu li:nth-child(4) {
  text-align: right;
  margin-right: 25px;
}

.menu-main-navigation-container .menu li:last-child {
  position: absolute;
  right: 0;
  font-size: 20px;
  width: 20px;
}

footer {
  background-color: #FDFEFD;
  height: 450px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.left-footer {
  width: 48%;
}

.right-footer {
  width: 48%;
  display: flex;
  justify-content: space-between;
}

.text {
  width: 70%;
  line-height: 1.5;
  letter-spacing: 1px;
  color: black;
  font-size: 17px;
  line-height: 24px;
}

.text h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 28px;
}

.social span {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}

.logo a {
  padding-left: 10px;
  color: black;
}

.logo {
  margin-top: 10px;
}

#menu-footer-navigation li,
#menu-third-nav li {
  padding-bottom: 25px;
  text-align: left;
}

.right-footer h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 28px;
  color: black;
}

footer .footer-paragraf {
  background-color: #F1F5F9;
  text-align: center;
  padding: 15px;
}

#menu-footer-navigation,
#menu-third-nav {
  padding: 0;
}

.profile {
  padding: 20px;
  background-color: #F8FAFC;
}

.bussines_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.2);
  border-radius: 20px;
  margin: 0 auto;
}

.bussines_profile h1 {
  font-size: 30px;
  margin: 0;
}

.bussines-emri {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.bussines-emri h3 {
  margin-right: 5px;
}

.bussines_profile .foto {
  width: 330px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 5px;
}

.bussines_profile .foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bussines-content {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.1);
  border-radius: 20px;
}

.bussines_profile .emri_reviews {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-around;
}

.bussines-reviews p {
  display: inline;
}

.fa-star {
  color: gold;
  font-size: 18px;
}

.text-bussines {
  text-align: justify;
  width: 90%;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 1px;
  color: black;
  font-size: 17px;
  line-height: 24px;
}

.text-bussines {
  margin-bottom: 10px;
}

.bussines_profile .komente {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #E5E5E5;
  text-align: left;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-top: 20px;
}

.left-info,
.right-info {
  display: flex;
  align-items: center;
}

span {
  margin-left: 5px;
}

.comment-form {
  text-align: left;
  margin-left: 25px;
  align-items: center;
  margin-top: 10px;
}

.bussines-form {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.textarea-bussines {
  box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.3);
  border-radius: 10px;
  padding: 10px;
}

.btn-bussines {
  padding: 5px 16px;
  gap: 8px;
  margin-top: 20px;
}

.komente {
  margin-top: 20px;
}

.comment-content {
  background-color: #f8f8f8;
  padding: 19px;
  margin-top: 20px;
  border-radius: 15px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.comment-meta {
  position: absolute;
  top: -4px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.comment-content span {
  margin-bottom: 5px;
}

.comment-content h4 {
  font-size: 18px;
  margin: 10px 0;
}

.comment-content span.comment-author {
  font-weight: bold;
}

.comment-text p {
  margin-left: 5px;
  margin-top: 5px;
}

.comment-respond {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.comment-form .logged-in-as {
  display: none;
}

#comment {
  border-radius: 10px;
  background-color: #e8e8e8;
  border: none;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.form-submit .submit {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.form-submit .submit:hover {
  background-color: #45a049;
}

.gallery {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.gallery .container {
  width: 100%;
  max-width: 1100px;
  margin: 50px auto;
}

.gallery h1 {
  padding: 0 30px 30px 10px;
  color: #000;
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 27px;
}

.gallery .gallerycarousel .gallerycarousel1 {
  margin: 0 10px;
}

.gallery .gallerycarousel .gallerycarousel1 img {
  width: 100%;
  height: 165px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery .gallerycarousel .gallerycarousel1 img:hover {
  transform: scale(1.1);
  cursor: pointer;
  opacity: 0.8;
  border-radius: 8px;
}

.gallery .slick-prev,
.gallery .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: transparent;
  font-size: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery:hover .slick-prev,
.gallery:hover .slick-next {
  opacity: 1;
}

.gallery .slick-prev {
  left: -3%;
}

.gallery .slick-next {
  right: -3%;
}

.gallery .slick-prev:before,
.gallery .slick-next:before {
  content: "<";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
}

.gallery .slick-prev:before {
  content: "<";
}

.gallery .slick-next:before {
  content: ">";
}

.relationship-section {
  background-color: #EFF6FF;
  height: 96px;
  align-items: center;
  margin: auto 0px;
  margin-top: 50px;
}

.relationship-img img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}

.relationship-info {
  display: flex;
  width: 320px;
  align-items: center;
}

.relationship-info img {
  border-radius: 50%;
  width: 85px;
  height: 72px;
}

.relationship-info h4 {
  margin-left: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 21px;
  color: #0F172A;
}

.relation-par {
  width: 452px;
  background-color: #F8FAFC;
  border: 2px dashed #E23333;
  border-radius: 16px;
  height: 72px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.relationship-paragraf {
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #515151;
}

.relationship-btn {
  background: #54D577;
  border-radius: 16px;
  align-items: center;
  padding: 14px 20px;
  gap: 8px;
  border: none;
  font-weight: 600;
  height: 52px;
  width: 167px;
}

.relation-href {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0F172A;
}

.relationship-items {
  display: flex;
  background-color: #EFF6FF;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}

@media (max-width: 960px) {
  /* Adjust columns for smaller screens */
  .custom-column {
    width: 100%;
  }
}
.container-image {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3; /* Adjust the opacity value for more transparency */
}
.container-image .overlay {
  background-color: rgba(0, 0, 0, 0.9);
  /* Adjust the rgba values as needed for the overlay color */
}
.container-image .title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  position: absolute;
  top: 40%;
  left: 43%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  font-weight: bold;
  /* Add any additional title styles here */
}

.input-container input[type=text] {
  background-color: white;
  border: none;
  height: 25px;
  margin-right: 10px;
  padding: 10px;
  margin-top: 50px;
  color: #fff;
  border-radius: 10px;
  /* Add this line */
}

.div {
  margin-right: 170px;
}

.input-container .long {
  width: 250px; /* Adjust the width value as needed */
}

.title .p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #fff;
}

.all {
  display: flex;
  flex-direction: column;
}

.fas.fa-thumbs-up {
  color: #008000;
  font-size: 24px;
  margin-right: 12px;
}

.fas.fa-thumbs-down {
  color: #FF0000;
  font-size: 24px;
  margin-right: 12px;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
}

.pros,
.cons {
  margin-right: 50px;
  flex: 1;
  box-sizing: border-box;
}

.column {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.column p {
  padding-left: 20px;
  font-size: 16px;
}

.columns-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cons .column {
  width: 500px;
  height: 43px;
  margin-bottom: 10px;
  border-radius: 15px;
  background: linear-gradient(to right, #FF0000 0%, #FF0000 5px, rgba(255, 0, 0, 0.1) 5px, rgba(255, 0, 0, 0.1) 100%);
}

.pros .column {
  width: 500px;
  height: 43px;
  margin-bottom: 10px;
  border-radius: 15px;
  background: linear-gradient(to right, #008000 0%, #008000 5px, rgba(0, 128, 0, 0.1) 5px, rgba(0, 128, 0, 0.1) 100%);
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

.quick-cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.quick-section {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 16px;
}

body {
  background-color: #f9f7f3;
}

.title-quick {
  font-size: 22px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.title-quick span {
  text-decoration: underline;
}

.co {
  width: 100%;
  padding: 25px;
  height: 240px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.para {
  font-size: 18px;
  line-height: 1.5;
  color: #333333;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}

.quick-h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #2c3e50;
  text-transform: uppercase;
  margin-top: 50px;
}

.link a {
  color: #2980b9;
  font-weight: bold;
  transition: color 0.2s;
  text-decoration: none;
  position: relative;
}
.link a:hover {
  color: #1b094d;
}
.link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #1c094c;
  transform: scaleX(0);
  transition: transform 0.2s;
  transform-origin: left;
}
.link a:hover::after {
  transform: scaleX(1);
}

.thumb-up {
  color: yellow;
  font-size: 24px;
}

html,
body {
  margin: 0;
  background-color: white;
  color: #333;
  padding: 0;
}

.container {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
