@import 'modules/faq';
@import 'modules/navbar';
@import 'modules/footer.scss';
@import 'modules/bussines-profile';
@import 'modules/carousel';
@import 'modules/relationship-bussines';
@import 'modules/hompage_header';
@import 'modules/proCons';
@import 'modules/quick';
@import 'sections/author';












html,
body{
    margin: 0;
    background-color: white;
    color:#333;
    padding: 0;
   
}
.container{
    position: relative;
    width: 1100px;
    margin: 0 auto;
  
}
//==============================================================================================

