@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.section__title {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700;
  line-height: 27px;
  margin: 30px 0;
}

.bussiness__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}

.bussiness__card {
  width: 100%;
  box-shadow: 0px 0px 12px 0px #0f172a14;
  padding: 24px 24px;
}
.bussines__card--image {
  max-width: 100%;
  max-height: 256px;

  overflow: hidden;
  border-radius: 16px;
}
.bussiness__card--headlines {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
}
.bussiness__card--title {
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.bussiness__card--stars {
  background: #f1f5f9;
  padding: 8px 14px;
  border-radius: 24px;
  color: #1e293b;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.bussiness__card--description {
  color: #475569;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-top: 8px;
  margin-bottom: 24px;
}
.button-btn {
  width: 100%;
  padding: 10px 16px;
  border-radius: 16px;
  background: #54d577;
  border: none;

  color: #0f172a;

  font-size: 14px;

  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
