
.profile-bussines{
    margin-top: 30px;
}
.items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 23%;
    background: #FDFEFD;
    box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.09);
      border-radius: 16px;
      text-align: center;
      height: 300px;
      margin-bottom: 15px;
}

.item h5{
    line-height: 2;
    letter-spacing: 1.5;
}
.star{
    color: yellow;
}