.faq-module{
    background-color: #F8FAFC;
    position: relative;
    height: 300px;
}
.faq{
    background-color: #F8FAFC;
    position: relative;
  padding-bottom: 20px;
//   height: 380px;
}

.faq_section{
    // width: 800px;
    // height: 500px;
    margin: 0 auto;
//     background: #FDFEFD;
//   box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.09);
    border-radius: 16px;
    // padding-left: 20px;
    position: relative;
  
 
  
}
.faq_section h1{
    padding: 10px;
    padding-top: 15px;
}
.faq__questions__items__item{
    background: #FDFEFD;
   color: #6C6C6C;;
    box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.08);
    border-radius: 16px;
padding: 16px;
margin-bottom: 15px;
font-size: 19px;
font-weight: 700;
line-height: 27px;
}
.answer{
    background: #0F172A14;
    color: #6C6C6C;;
     box-shadow: 0px 0px 12px rgba(15, 23, 42, 0.08);
     border-radius: 16px;
 padding: 16px;
 font-size: 18px;
 margin-top: 13px;
 color: var(--kit-colors-slate-900, #0F172A);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px
}

.answer {
    display: none;
  }

  .chevron{
    position: absolute;
    right: 0;
    margin-right: 30px;
    margin-top: 10px;
  }
