@media (max-width: 960px) {
  
    .custom-column {
      width: 100%;
    }
  }
  
  .container-image {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  
      opacity: 0.3; 
    }
  
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.5; 
    }
    
  
    .title {
      // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      // position: absolute;
      // top: 40%;
      // left: 43%;
      // transform: translate(-50%, -50%);
      // color: white;
      // font-size: 50px;
      // font-weight: bold;


      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    /* position: absolute; */
    /* top: 40%; */
    /* left: 43%; */
    /* transform: translate(-50%, -50%); */
    color: white;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    align-items: center;
    
    }
  }
  
  // .input-container input[type="text"] {
  //   background-color: white;
  //   border: none;
  //   height: 25px;
  //   margin-right: 15px;
  //   padding: 10px;
  //   margin-top: 50px;
  //   color: #fff;
  //   border-radius: 10px;
  //  position: relative;
  //  z-index: 1;
  //  width: 220px;
 
  // }
  
  .div {
    display: flex;
  }
  
  .input-container {
    display: flex;
  }
  
  .input-container form,
  .input-container input {
    height: 45px;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 20px;
    position: relative;
    width: 800px;
   
  }
  
  
  .input-container .long {
    width: 360px !important;
  }
  
  .title .p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #fff;
    letter-spacing: 1.5px;

  }
  
  .all {
    display: flex;
    flex-direction: column;
    margin-top: -70px;
  }
 