@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}
.services {
  margin-top: 100px;
}
.container-services {
  max-width: 960px;
  margin: 0 auto;
}
.section__title {
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-family: Inter;
  font-weight: 700;
  line-height: 27px;
  margin: 30px 0;
}

.services__card {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-top: 37px;
  padding-bottom: 58px;
}

.services__card--image {
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
  border-radius: 100%;
  margin: auto;
}
.services__listt {
  padding: 10px 0px;
  cursor: pointer;
}

.services__card--title {
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 32px;
  text-align: center;
}
